# Ignore common binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.ps1
*.txt

# Ignore go working files
go.work
go.work.sum
go.sum

# Ignore config directory but keep structure
/config/*

# Ignore tmp directory but keep structure
/tmp/*

# Ignore bin directory but keep structure
/bin/*

# Ignore files in maxmind directory but keep structure
/tmp/maxmind/*
/.github
/.github/*
/.github/workflows
/.github/workflows/*
/bin
/bin/*
/tmp
/tmp/*
/src/IBDash/node_modules
/src/IBDash/node_modules/*
/src/IBDash/package-lock.json
/public
/public/*

